__pages__/doors.pug
extend __core__/default
block content
	panel-wrapper.light.border-bottom
		panel-inner(whitespace="30")
			prime-segment
				x-major
					a(href="index.html")
						h4 
							i.icon-arrow-left
							| Nakatomi Plaza
				x-minor
					div.HAL
	panel-wrapper.light
		panel-inner(whitespace="10")
			- var titles=["Main Lobby", "Roof", "Parking Garage"]
			- var i = 0
			+loop(3)
				div.wrap
					prime-segment
						x-major
							i.icon-lock.homescreen-icon
							a(href="fallback.html")= titles[i]
							- i++
						x-minor
							i.icon-star.favorite-icon

app/doors.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
  </head>
  <body>
    <div id="siteWrapper">
      <div id="open">
        <panel-wrapper class="light border-bottom">
          <panel-inner whitespace="30">
            <prime-segment>
              <x-major><a href="index.html">
                  <h4> <i class="icon-arrow-left"></i>Nakatomi Plaza</h4></a></x-major>
              <x-minor>
                <div class="HAL"></div>
              </x-minor>
            </prime-segment>
          </panel-inner>
        </panel-wrapper>
        <panel-wrapper class="light">
          <panel-inner whitespace="10">
            <div class="wrap">
              <prime-segment>
                <x-major><i class="icon-lock homescreen-icon"></i><a href="fallback.html">Main Lobby</a>
                </x-major>
                <x-minor><i class="icon-star favorite-icon"></i></x-minor>
              </prime-segment>
            </div>
            <div class="wrap">
              <prime-segment>
                <x-major><i class="icon-lock homescreen-icon"></i><a href="fallback.html">Roof</a>
                </x-major>
                <x-minor><i class="icon-star favorite-icon"></i></x-minor>
              </prime-segment>
            </div>
            <div class="wrap">
              <prime-segment>
                <x-major><i class="icon-lock homescreen-icon"></i><a href="fallback.html">Parking Garage</a>
                </x-major>
                <x-minor><i class="icon-star favorite-icon"></i></x-minor>
              </prime-segment>
            </div>
          </panel-inner>
        </panel-wrapper>
      </div>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>
