public/email.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
  </head>
  <body>
    <div id="siteWrapper">
      <div id="open">
        <div class="panel-wrap dark">
          <section class="panel">
          </section>
        </div>
        <div class="panel-wrap light">
          <section class="panel">
            <div class="contain-email center">
              <div class="clear-wrap center-justify">
                <h4>1. Install the Touch mobile app</h4>
              </div>
              <div class="wrap">
                <segment-elem class="fifths major-in-the-middle">
                  <x-minor></x-minor>
                  <x-major>
                    <div class="wrap dark">
                      <prime-segment>
                        <x-minor><i class="icon-info homescreen-icon"></i></x-minor>
                        <x-major>
                          <div class="small">Download on the </div>
                          <div class="title2">App Store</div>
                        </x-major>
                      </prime-segment>
                    </div>
                  </x-major>
                  <x-minor></x-minor>
                </segment-elem>
                <segment-elem class="fifths major-in-the-middle">
                  <x-minor></x-minor>
                  <x-major>
                    <div class="wrap dark">
                      <prime-segment>
                        <x-minor><i class="icon-info homescreen-icon"></i></x-minor>
                        <x-major>
                          <div class="small">GET IT ON</div>
                          <div class="title2">Google Play</div>
                        </x-major>
                      </prime-segment>
                    </div>
                  </x-major>
                  <x-minor></x-minor>
                </segment-elem>
              </div>
              <div class="clear-wrap center-justify">
                <h4>2. Complete setup by selecting "Activate" from your mobile device.</h4>
              </div>
              <div class="clear-wrap">
                <div>
                  <div class="center-justify button-module"><a class="large button" href="">Activate</a></div>
                </div>
              </div>
              <div class="clear-wrap center-justify">
                <h4>3. Access Granted</h4>
              </div>
              <div class="big-wrap">
                <h4 class="center-justify">App Already Installed?</h4>
                <div class="center-justify clear-wrap">
                  <div class="sub">Activation Code</div>
                  <div class="passcode">123456</div>
                  <div class="clear-wrap">
                    <p>Paste the code above into the "Activation Code" field, of your device's Touch App.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="panel-wrap dark">
          <section class="panel">
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>

__pages__/email.pug
extend __core__/default
block content
	+panel().dark
	+panel().light
		div.contain-email.center
			div.clear-wrap.center-justify
				h4 1. Install the Touch mobile app
			div.wrap
				segment-elem.fifths.major-in-the-middle
					x-minor
					x-major
						div.wrap.dark
							prime-segment
								x-minor
									i.icon-info.homescreen-icon
								x-major
									div.small Download on the 
									.title2 App Store
					x-minor
				segment-elem.fifths.major-in-the-middle
					x-minor
					x-major
						div.wrap.dark
							prime-segment
								x-minor
									i.icon-info.homescreen-icon
								x-major
									div.small GET IT ON
									.title2 Google Play
					x-minor
			div.clear-wrap.center-justify
				h4 2. Complete setup by selecting "Activate" from your mobile device.
			div.clear-wrap
				div
					+button({title: "Activate", position: "center", href: "fallback.html"}).large
			div.clear-wrap.center-justify
				h4 3. Access Granted
			div.big-wrap
				h4.center-justify App Already Installed?
				div.center-justify.clear-wrap
					div.sub Activation Code
					div.passcode 123456
					div.clear-wrap
						p Paste the code above into the "Activation Code" field, of your device's Touch App.
	+panel().dark
			
		
