__pages__/fallback.pug
extend __core__/default
block content
	+panel().light
		h3 Next Step: Install the App
		p Install the PDK Doors app, then try again.
		segment-elem.half
			x-cell
				div.wrap
					prime-segment
						x-minor
							i.icon-info.homescreen-icon
						x-major
							div.small Download on the 
							.title2 App Store
			x-cell
				div.wrap
					prime-segment
						x-minor
							i.icon-info.homescreen-icon
						x-major
							div.small GET IT ON
							.title2 Google Play
	+panel().light
		h4 App already installed?
		p You can use your Personal Passcode to connect.
		+modal("Use Personal Passcode", "center")
			h4 Personal Passcode
			div.center-justify.clear-wrap
				div.sub Personal Passcode
				div.passcode 123456
				div.clear-wrap
					p Paste the code above into the "Personal Passcode" field, of your device's Touch App.
			+submit("Send", "right").email-trigger
		
		div.modal.trigger.success-modal-trigger.hide(data-target="successModal") Yep
		div#successModal.modal.window
			h3 Success!
			p An email containing your personal passcode has been sent.
			p 
				strong Instructions:  
				| Simply copy the passcode, go to the touch app and paste the item into the Passcode box.
			div.clear-wrap
			

block script			
	script.
		$('input[type="submit"]').on('click', function(e) {
			e.preventDefault();
			/* $('.close-modal').click(); */
			$('.success-modal-trigger').click();
		});
	

app/fallback.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
  </head>
  <body>
    <div id="siteWrapper">
      <div id="open">
        <div class="panel-wrap light">
          <section class="panel">
            <h3>Next Step: Install the App</h3>
            <p>Install the PDK Doors app, then try again.</p>
            <segment-elem class="half">
              <x-cell>
                <div class="wrap">
                  <prime-segment>
                    <x-minor><i class="icon-info homescreen-icon"></i></x-minor>
                    <x-major>
                      <div class="small">Download on the </div>
                      <div class="title2">App Store</div>
                    </x-major>
                  </prime-segment>
                </div>
              </x-cell>
              <x-cell>
                <div class="wrap">
                  <prime-segment>
                    <x-minor><i class="icon-info homescreen-icon"></i></x-minor>
                    <x-major>
                      <div class="small">GET IT ON</div>
                      <div class="title2">Google Play</div>
                    </x-major>
                  </prime-segment>
                </div>
              </x-cell>
            </segment-elem>
          </section>
        </div>
        <div class="panel-wrap light">
          <section class="panel">
            <h4>App already installed?</h4>
            <p>You can use your Personal Passcode to connect.</p>
            <div class="center-justify">
              <button class="modal trigger" data-target="modal1">Use Personal Passcode</button>
            </div>
            <div class="modal window" id="modal1">
              <h4>Personal Passcode</h4>
              <div class="center-justify clear-wrap">
                <div class="sub">Personal Passcode</div>
                <div class="passcode">123456</div>
                <div class="clear-wrap">
                  <p>Paste the code above into the "Personal Passcode" field, of your device's Touch App.</p>
                </div>
              </div>
              <div class="form-element right-justify">
                <input type="submit" value="Send"/>
              </div>
            </div>
            <div class="modal trigger success-modal-trigger hide" data-target="successModal">Yep</div>
            <div class="modal window" id="successModal">
              <h3>Success!</h3>
              <p>An email containing your personal passcode has been sent.</p>
              <p> <strong>Instructions:  </strong>Simply copy the passcode, go to the touch app and paste the item into the Passcode box.</p>
              <div class="clear-wrap"></div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>
<script>
  $('input[type="submit"]').on('click', function(e) {
  	e.preventDefault();
  	/* $('.close-modal').click(); */
  	$('.success-modal-trigger').click();
  });
</script>
