public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
  </head>
  <body>
    <div id="siteWrapper">
      <div id="open">
        <panel-wrapper class="light border-bottom">
          <panel-inner whitespace="30">
            <prime-segment>
              <x-major>
                <div class="logo-wrapper"><a class="logo" href="/">PDK</a></div>
              </x-major>
              <x-minor>
                <div class="HAL"></div>
              </x-minor>
            </prime-segment>
          </panel-inner>
        </panel-wrapper>
        <panel-wrapper class="light">
          <panel-inner whitespace="10">
            <div class="wrap">
              <div class="title"> <i class="icon-star homescreen-icon"></i>Favorites</div>
            </div>
            <div class="wrap">
              <div class="title"> <i class="icon-business homescreen-icon"></i><a href="doors.html">Nakatomi Plaza</a></div>
            </div>
          </panel-inner>
        </panel-wrapper>
      </div>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>

__pages__/index.pug
extend __core__/default
block content
	panel-wrapper.light.border-bottom
		panel-inner(whitespace="30")
			prime-segment
				x-major
					+logo("PDK")
				x-minor
					div.HAL
	panel-wrapper.light
		panel-inner(whitespace="10")
			div.wrap
				.title 
					i.icon-star.homescreen-icon
					| Favorites
			div.wrap
				.title 
					i.icon-business.homescreen-icon
					a(href="doors.html") Nakatomi Plaza
		
		
		
			
